extends layout

block content
  .register-page
    .login-box
      h2 Register
      form(action="/register", method="POST")
        label(for="username") Username
        input(type="text", name="username", placeholder="Enter username", required)

        label(for="email") Email
        input(type="email", name="email", placeholder="Enter email", required)

        label(for="password") Password
        input(type="password", name="password", placeholder="Enter password", required)

        button(type="submit") Register
