extends layout

block content
  h1 Add Shop 🏪

  form(action='/shops/add', method='POST', class='shop-form')
    div
      label(for='name') Shop Name:
      input(type='text', id='name', name='name', required)
    br
    div
      label(for='location') Location (Map Link):
      input(type='text', id='location', name='location', required)
    br
    div
      label(for='distance') Distance :
      input(type='text', id='distance', name='distance', required)
    br
    button(type='submit') Add Shop

  hr

  h2 Nearby Shops 🌱
  if shops && shops.length
    .shop-list
      each s in shops
        .shop-box
          h3= s.name
          p 
            a(href=s.location, target="_blank") View on Map
          p Distance: #{s.distance} km
  else
    p No shops available.
