extends layout

block content
  h1 Add Shop

  form(action='/shops/add', method='POST')
    div
      label(for='name') Shop Name:
      input(type='text', id='name', name='name', required)
    br
    div
      label(for='location') Location (Map Link):
      input(type='text', id='location', name='location', required)
    br
    div
      label(for='distance') Distance (km):
      input(type='number', id='distance', name='distance', required)
    br
    button(type='submit') Add Shop

  hr

  h2 Nearby Shops
  if shops && shops.length
    ul
      each s in shops
        li
          div(style="font-weight:bold") #{s.name}
          div 
            a(href=s.location, target="_blank") #{s.location}
          div #{s.distance} km
  else
    p No shops available.
